html {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;  
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #e60000;
    margin: 0;
    padding: 2.5em;
}

h1 {
    font-size: 2em;
    position: absolute;
    color: white;
    left: 49%;
    top: 10px;
    margin: 0;
    text-shadow: -1px 1px 5px black;
}

.h2 {
    font-size: .75em;
    color: white;
    position: absolute;
    left: 47%;
    text-shadow: -1px 1px 5px black;
    
}

.medallion {
    position: absolute;
    left: 50%;
    width: 60px;
    margin: 0;
    top: 10px
}

nav li {
    list-style: none;
    margin: 0;
    padding: .5em;
    border: 1px solid black;
    width: 50%;
    float: left
}

ol a {
    color: white;
    text-decoration: none;
    margin: auto;
    width: 50%;
}

ol {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden
}

nav {
    margin:0;
    background-color: #2e2e2e;
    width: 100%;
}

.banner {
    margin: 0;
    max-width: 100%;
}

.banner2 {
    margin: 0;
    color: white;
    font-size: 1.5em;
    margin: 0;
    position: relative;
}

h3 {
    margin: 0;
    position: absolute;
    color: white;
    font-size: 1.5em;
    left: 30%;
    bottom: 10%;
    margin: 0;
    text-shadow: -1px 1px 5px black;
}

h4 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 1em;
}

.h4white {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 1em;
    color: white;
}

.floatleft {
    float: left;
    max-width: 30%;
    margin: 0 0 1em 10%;
    padding: 0;
}

.floatright {
    max-width: 30%;
    float: right;
    margin: 0 10% 1em 0;
    padding: 0;
    overflow: hidden;
}

p {
    margin: 0;
}

div p {
    font-size: .75em;
    margin: 2em;
    text-align: center;
    padding: 0;
    clear: both
}

.pwhite {
    font-size: .75em;
    margin: 2em;
    text-align: center;
    padding: 0;
    color: white;
    clear: both;
}

.raaa {
    margin: 0;
    padding: 1em;
    background-color: #E6B800;
    overflow: hidden;
}

.baah {
    background-color: #2e2e2e;
    margin: 0;
    padding: 1.5em;
    overflow: hidden;
}

.nugget {
    background-color: #e60000;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}

.moo {
    background-color: #e6b800;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}

.footer {
    font-size: .75em;
    padding: 2em;
    background-color: #2e2e2e;
    text-align: center;
    padding: 3em;
}

footer a {
    color: white;
}

